<div class="auth-form w-full">
    <div class="w-[410px]">  
        <h2 class="auth-form-heading"> Forgot your password? </h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="space-y-8">      
            <div class="relative flex flex-col">
                <input formControlName="email" type="email" placeholder="Email" class="form-input w-full" readonly onfocus="this.removeAttribute('readonly')">
                @if (forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched) {
                    <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50" role="alert">
                        <div class="font-medium"><i class="fa-solid fa-circle-info"></i> 
                            @if (forgotPasswordForm.get('email')?.getError('required')) {
                                <span> Email address is required</span>
                            }
                            @if (forgotPasswordForm.get('email')?.getError('email')) {
                                <span> Invalid email format.</span>
                            }
                        </div>
                    </div>
                }  
                
                <p class="mt-4 self-end">
                    <a routerLink="/auth/login" class="text-main-c">Recover password?</a>
                </p>
            </div>

            @if (apiError) {
                <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50" role="alert">
                    <div class="font-medium"><i class="fa-solid fa-circle-info"></i> 
                         <span> {{apiError}}</span>                  
                    </div>
                </div>
            }

            @if (successMessage) {
                <div class="flex items-center py-4 px-2 mb-2 text-sm text-green-700 rounded-lg bg-green-50 " role="alert">
                    <div class="font-medium"><i class="fa-solid fa-circle-check"></i> 
                         <span> {{successMessage}}</span>                  
                    </div>
                </div>
            }

            <div class="mt-10">
                <button [disabled]="forgotPasswordForm.invalid || isLoading" type="submit" class="main-btn">
                    Send OTP @if (isLoading) {<span> <i class="fas fa-spin fa-spinner text-lg"></i> </span>}
                </button>
            </div>
        </form> 
        <app-social-auth></app-social-auth>
    </div>
</div>

