<div class="auth-form w-full">
    <div class="w-[410px]"> 
        <h2 class="auth-form-heading"> Set a password </h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="space-y-8">
            <div class="relative  flex flex-col">
                <input formControlName="newPassword" [type]="hidePassword ? 'text' : 'password'" placeholder="Create Password" class="form-input w-full">
                <span class="absolute right-4 top-3">
                    @if(hidePassword) {
                        <span> <i (click)="togglePassword()" class="fa fa-eye text-[#949BA5] text-lg cursor-pointer" ></i> </span>
                    }@else {<span> <i (click)="togglePassword()" class="fa fa-eye-slash text-[#949BA5] text-lg cursor-pointer" ></i> </span>}                    
                </span>

                @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
                    <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <div class="font-medium"><i class="fa-solid fa-circle-info"></i> 
                            @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                                <span> Password is required</span>
                            }
                            @if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
                                <span> Password must be :</span>
                                <ul class="list-disc ps-5">
                                    <li>At least 8 characters long</li>
                                    <li>Includes at least one uppercase, one lowercase letter, one number, and one special character</li>
                                </ul>
                            }
                        </div>
                    </div>
                }
            </div>  
            
            <div class="relative flex flex-col">                 
                <input formControlName="confirmPassword" [type]="hidePassword ? 'text' : 'password'" placeholder="Confirm Password" class="form-input"> 
                <span class="absolute right-4 top-3">
                    @if(hidePassword) {
                        <span> <i (click)="togglePassword()" class="fa fa-eye text-[#949BA5] text-lg cursor-pointer" ></i> </span>
                    }@else {<span> <i (click)="togglePassword()" class="fa fa-eye-slash text-[#949BA5] text-lg cursor-pointer" ></i> </span>}                    
                </span>
              
                    @if (resetPasswordForm.getError('missMatch') && resetPasswordForm.get('confirmPassword')?.touched) {
                        <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <i class="fa-solid fa-circle-info"></i> &nbsp;  <span>Confirm password doesn't match the password.</span>
                        </div>
                    }
                    @if (resetPasswordForm.get('confirmPassword')?.getError('required') && resetPasswordForm.get('confirmPassword')?.touched) {
                        <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <i class="fa-solid fa-circle-info"> </i> &nbsp;  <span>Confirm password is required.</span>
                        </div>
                        
                    } 
                <span class="absolute right-4 top-3">
                    @if(hidePassword) {
                        <span> <i (click)="togglePassword()" class="fa fa-eye text-[#A1A4A9] text-lg cursor-pointer" ></i> </span>
                    }@else {<span> <i (click)="togglePassword()" class="fa fa-eye-slash text-[#949BA5] text-lg cursor-pointer" ></i> </span>}
                    
                </span>      
            </div>    

            @if (apiError) {
                <div class="flex items-center py-4 px-2 mb-2 text-sm text-red-700 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <div class="font-medium"><i class="fa-solid fa-circle-info"></i> 
                         <span> {{apiError}}</span>                  
                    </div>
                </div>
            }

            <div class="mt-10">
                <button [disabled]="resetPasswordForm.invalid || isLoading" type="submit" class="main-btn">
                    Save @if (isLoading) {<span> <i class="fas fa-spin fa-spinner text-lg"></i> </span>}
                </button>
            </div>
        </form> 
        <app-social-auth></app-social-auth>
    </div>
</div>
