<section class="flex w-full justify-center  min-h-screen">
    <div class="fixed-auth ">
        <div class="xl:w-[482px] md:w-[462px]">
            <h2 class="text-[50px] font-bold">Welcome to <span class="text-dark-blue text-6xl">Elevate</span></h2>
            <p class="text-lg leading-xl">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
            <img src="images/bro.png" class="mt-20" alt="auth layout">
        </div>
    </div>
    <div class="pt-20 w-full md:w-1/2">
        <app-navbar-auth></app-navbar-auth>
        <router-outlet></router-outlet>
    </div>
</section>