<div class="auth-form w-full">
    <div class="w-[410px]">  <!-- Added w-full and text-center -->
        <h2 class="auth-form-heading"> Verify code</h2>

        <form class="space-y-8">
            <div class=" flex flex-col">
                <input type="text" placeholder="Enter a code" class="form-input w-full">
                <p class="mt-4 self-end ">
                    Didn’t receive a code?  <a routerLink="/auth/forgot-password" class="text-main-c">Resend</a>
                </p>
            </div>                      
            <div class="mt-10">
                <button class="main-btn">Verify</button>
            </div>
        </form>
 
        <div class="separator">
            <span>Or Continue with</span>
        </div>
        <app-social-auth></app-social-auth>
    </div>
</div>




