<div class="auth-form w-full">
    <div class="w-[410px]">  <!-- Added w-full and text-center -->
        <h2 class="auth-form-heading"> Sign in </h2>

        <form class="space-y-8">      
            <div>
                <input type="email" placeholder="Email" class="form-input w-full" readonly onfocus="this.removeAttribute('readonly')">   
            </div>
            <div class="relative flex flex-col">
                <input type="password" placeholder="Password" class="form-input">
                <span class="absolute right-3 top-3 text-[#A1A4A9] cursor-pointer"><i class="fa fa-eye"></i></span>        
                <p class="mt-4 self-end">
                    <a routerLink="/auth/forgot-password" class="text-main-c">Recover password?</a>
                </p>
            </div>   
            <div class="mt-10">
                <button class="main-btn">Sign in</button>
            </div>
        </form>
 
        <div class="separator">
            <span>Or Continue with</span>
        </div>
        <app-social-auth></app-social-auth>
    </div>
</div>
