<nav class="bg-white border-gray-200 flex justify-center md:justify-end ">
    <div class=" md:pe-20">
      <ul class="flex  rtl:space-x-reverse flex-row">
        <li class="me-12">
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between py-2 px-3 text-xl text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto">
            English 
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
            <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
              <li>
                <a href="#" class="block ps-12 py-2 text-xl hover:bg-gray-100">Arabic</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="/auth/login" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}"  class="block me-12 py-2 px-3  text-xl text-main-c rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Login</a>
        </li>
        <li>
          <a routerLink="/auth" routerLinkActive="font-bold" [routerLinkActiveOptions]="{exact: true}" class="block py-2 px-3 text-xl text-main-c rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Register</a>
        </li>
      </ul>
    </div>
  </nav>